## Q1. Create one variable containing following type of data:
## (i) string (ii) list (iii) float (iv) tuple

In [1]:
## Ans:- 
variable_1="shubham",[1,2,3,4],2+3j,(5,6,7,8)

In [2]:
variable_1

('shubham', [1, 2, 3, 4], (2+3j), (5, 6, 7, 8))

## Q2. Given are some following variables containing data:
## (i)	var1 = ‘ ‘ (ii)	var2 = ‘[ DS , ML , Python]’ (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv)	var4 = 1.
## What will be the data type of the above given variable.

In [6]:
## Ans:-
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print("The data type of var1:", type(var1))
print("The data type of var2:", type(var2))
print("The data type of var3:", type(var3))
print("The data type of var4:", type(var4))

The data type of var1: <class 'str'>
The data type of var2: <class 'str'>
The data type of var3: <class 'list'>
The data type of var4: <class 'int'>

## Q3. Explain the use of the following operators using an example:
## (i)	/     (ii)	%      (iii)	//       (iv)	**

In [1]:
## Ans:-
## (i) / operator gives true division value. For Example:
a=4
b=5
a/b

0.8

In [5]:
## (ii) % is a modulo operator. It gives remainder value of any function. For Example:
c=22
d=10
c%d

2

In [7]:
## (iii) // is a floor division. It gives interger value of a funtion. For Example:
e=100
f=21
e//f

4

In [8]:
## (iv) ** is an power operator. For Example:
g=5
h=3
g**h

125

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [9]:
## Ans:-
lst_1=["Start",2,3,4,5,45.45,5+6j,(1,2,3),86,"Finish"]
len(lst_1)

10

In [14]:
for i in lst_1:
    print(f"data type of element  {i} is  {type(i)}  ")

data type of element  Start is  <class 'str'>
data type of element  2 is  <class 'int'>
data type of element  3 is  <class 'int'>
data type of element  4 is  <class 'int'>
data type of element  5 is  <class 'int'>
data type of element  45.45 is  <class 'float'>
data type of element  (5+6j) is  <class 'complex'>
data type of element  (1, 2, 3) is  <class 'tuple'>
data type of element  86 is  <class 'int'>
data type of element  Finish is  <class 'str'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [7]:
## Ans:- 
a=int(input())
b=int(input())
i=0
if a%b==0:
    while b*i==a:
        i=i+1
    print(f"A is purely divisible {a/b} times by B")
else:
    print("A is not Divisible by B")

 66
 11

A is purely divisible 6.0 times by B

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [27]:
## Ans:-
l=list(range(1,26))
for i in l:
    if i%3==0:
        print(i)
    else:
        pass

3
6
9
12
15
18
21
24

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [30]:
## Ans:-
## A mutable object can be change after it is created.
## Example:- List,Set,Dictionary
lst_1=[1,22,34,5,677,43]
lst_1[0]=12
lst_1

[12, 22, 34, 5, 677, 43]

In [32]:
## A immutable object cannot be change after it is created.
## Example:- tuples, int, float, bool, etc.
str_1="Shubham"
str_1[3]="m"
str_1

TypeError: 'str' object does not support item assignment